---
http_interactions:
- request:
    method: get
    uri: http://api.open-notify.org/astros.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"people": [{"name": "Andrew Morgan", "craft": "ISS"}, {"name": "Oleg
        Skripochka", "craft": "ISS"}, {"name": "Jessica Meir", "craft": "ISS"}, {"name":
        "Chris Cassidy", "craft": "ISS"}, {"name": "Anatoly Ivanishin", "craft": "ISS"},
        {"name": "Ivan Vagner", "craft": "ISS"}], "message": "success", "number":
        6}'
  recorded_at: Thu, 09 Apr 2020 20:12:20 GMT
recorded_with: VCR 5.1.0
