---
http_interactions:
- request:
    method: get
    uri: http://api.open-notify.org/astros.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"people": [{"craft": "ISS", "name": "Andrew Morgan"}, {"craft": "ISS",
        "name": "Oleg Skripochka"}, {"craft": "ISS", "name": "Jessica Meir"}], "message":
        "success", "number": 3}'
  recorded_at: Thu, 09 Apr 2020 02:14:10 GMT
- request:
    method: get
    uri: http://api.open-notify.org/astros.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"people": [{"craft": "ISS", "name": "Andrew Morgan"}, {"craft": "ISS",
        "name": "Oleg Skripochka"}, {"craft": "ISS", "name": "Jessica Meir"}], "message":
        "success", "number": 3}'
  recorded_at: Thu, 09 Apr 2020 02:14:10 GMT
recorded_with: VCR 5.1.0
